strict-ssl=false
 
//sonarnexus.logo.com.tr:8443/repository/diva-mobilepackage/:_authToken=${NexusNpmToken}
always-auth=true
 
# Only diva-mobile-* container will be available from Nexus
@diva-mobilepackage:registry=https://sonarnexus.logo.com.tr:8443/repository/diva-mobilepackage/
 
# All other packages will be imported from npmjs
registry=https://registry.npmjs.org/